.footer{
    background: #009dff;
    font-weight: 400;
    font-size: 14px;
}
.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}