.container-header{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo__name{
    margin-left: 15px;
    width: 210px;
    font-weight: 600;
    text-transform: uppercase;
    color:#000;
}
.logo__img{
    width: 63px;
    height: 123px;
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    z-index: 100;
}
.navbar-upper{
    z-index: 200;    
    font-weight: 300;
    margin-left: auto;
}
.navbar-link{
    color:#000;
}
.navbar-label{
    display: flex;
}
.navbar-input{
    margin-right: 12px;
    margin-left: 20px;
    input{        
        width: 210px;
        border:none;
        background: #eeeeee;
        outline: none;
    }
}
.navbar-form__picture{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.navbar-img{
    width: 100%;
    height: 100%;
}
.navbar-under{
    font-weight: 400;
    margin-left: auto; 
    font-size: 18px;   
}
.navbar-list{
    display: flex;
}
.navbar-innerlist{
    display: none;
    max-width: 280px;
    min-width: 160px;
    background-color: #fff;
    padding: 15px;
    padding-right: 20px;
    font-size: 15px;
}
.navbar-item:hover{    
    .navbar-innerlist{
        display: block;
    }
    .navbar-link{
        color:#009dff;
    }
    .navbar-link:after{
        border-top-color:#009dff;
    }

}
.navbar-innerlink{
    color:#000;
    &:hover{
        color:#009dff;
    }
}
.navbar-item{
    position: relative;
    margin-right: 20px;
    &:last-child{
        margin-right: 0;
    }
    
}
.navbar-link{
    display: flex;
    align-items: center;
    &:after{
        margin-left: 5px;
        content: "";
        border: 4px solid transparent;
        border-top-color: #000;
        border-bottom: 0;
        
    }
}
.navbar-innerlist{
    position: absolute;
    font-weight: 400;
    box-shadow: 0 0 3px rgba(66, 65, 65, 0.5);
}
.navbar-inneritem{
    position: relative;
    text-align: left;
}
.navbar-innerlist li{
    font-weight: 300;
}
.navbar-innerlink{
    display: flex;
    align-items: center;
}