.container-header{
    display: flex;
    margin-top: 8px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo__name{
    margin-left: 15px;
    width: 210px;
    font-weight: 600;
    text-transform: uppercase;
    color:#000;
}
.logo__img{
    width: 63px;
    height: 123px;
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    z-index: 100;
}
.navbar-upper{
    font-weight: 300;
    z-index: 200;
}
.navbar-link{
    color:#000;
}
.navbar-under{
    font-weight: 400;
}
.navbar-list{
    display: flex;
}
.navbar-innerlist,.navbar-inner2list{
    display: none;
    max-width: 280px;
    background-color: #fff;
    padding: 15px;
    padding-right: 20px;
}
.navbar-item:hover{    
    .navbar-innerlist{
        display: block;
    }

}
.navbar-inner2link,.navbar-innerlink{
    color:#000;
    &:hover{
        color:#009dff;
    }
}
.navbar-inner2list{
    display: none;
    font-weight: 400;
}
.navbar-inneritem:hover{
    .navbar-inner2list{
        display: block;
    }
}
.navbar-item{
    position: relative;
    margin-right: 20px;
    
}
.navbar-link{
    display: flex;
    align-items: center;
    &:after{
        margin-left: 5px;
        content: "";
        border: 4px solid transparent;
        border-top-color: #000;
        border-bottom: 0;
        
    }
}
.navbar-innerlist{
    position: absolute;
    font-weight: 400;
}
.navbar-inneritem{
    position: relative;
}
.navbar-inner2list{
    position: absolute;
    top: 0;
    left: 100%;
}
.navbar-innerlist li > a:not(:only-child):after, {

        content: "";
        border: 4px solid transparent;
        border-left-color: #000;
        border-right: 0;
        margin-left:auto;
    
    }
.navbar-innerlist li{
    font-weight: 300;
}
.navbar-inneritem{
    text-align: left;
}
.navbar-innerlink{
    display: flex;
    align-items: center;
}