<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="assets/styles/css/owl.carousel.min.css")
        link(rel="stylesheet", href="assets/styles/css/owl.theme.default.css")
        link(rel="stylesheet", href='assets/styles/css/liCover.css')
        link(rel="stylesheet", href='assets/styles/app.min.css')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700" rel="stylesheet")              
        script(src='assets/scripts/jquery-1.11.1.min.js')
        script(src='assets/scripts/owl.carousel.min.js')
        script(src='assets/scripts/app.js')
        script(src='assets/scripts/jquery.liCover.js')        
        title kikinfo
    body
        wrapper
            header
                .container.container-header
                    .logo
                        .logo__img
                            a(href="#").logo-link
                                img(src="assets/images/content/KIK_logo.gif", alt="logo" height='123px' width='63px')
                        .logo__name Краснотурьинский индустриальный колледж 
                    .navigation
                        .navbar-upper
                            ul.navbar-list
                                li.navbar-item
                                    a.navbar-link(href="#") Поступающим
                                    ul.navbar-innerlist.navbar-innerlist--upper
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Правила приема
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Правила приема
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Информация о приеме
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Информация о стоимости
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Реклама о приеме
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") 10 веских причин                                           
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Специальности СПО
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Специальности приема
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Дополнительное образование
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Приказ о зачислении
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Для людей с инвалидностью
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Иногородним студентам
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Общежитие
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Правила проживания
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Подготовительные курсы
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Расписание
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Изменение в расписании                                                                             
                                li.navbar-item
                                    a.navbar-link(href="#") Студенту
                                    ul.navbar-innerlist
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Расписание занятий
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") На семестр
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Изменение в расписании
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Экзамены
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Объявления
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Профориентация
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Наши стипендианты
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Губернаторские
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Фонда А.В. Сысоева
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Библиотека
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Положение о конференции
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту   
                                li.navbar-item
                                    a.navbar-link(href="#") Выпускнику
                                    ul.navbar-innerlist
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                        .navbar-search
                            form.navbar-form
                                label.navbar-label
                                    input(type="text").navbar-input
                                    .navbar-form__picture
                                        img(src="", alt="").navbar-img                              
                                                                        
                        .navbar-under
                            ul.navbar-list
                                li.navbar-item
                                    a.navbar-link(href="#") Поступающим
                                    ul.navbar-innerlist
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Поступающим
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Поступающим
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Поступающим
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Поступающим
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Поступающим
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Поступающим                                           
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Поступающим 
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Поступающим
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Поступающим 
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Поступающим 
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Поступающим
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Поступающим
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Поступающим
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Поступающим
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Поступающим
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Поступающим
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Поступающим                                                                             
                                li.navbar-item
                                    a.navbar-link(href="#") Студенту
                                    ul.navbar-innerlist
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту   
                                li.navbar-item
                                    a.navbar-link(href="#") Выпускнику
                                    ul.navbar-innerlist
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                li.navbar-item
                                    a.navbar-link(href="#") Выпускнику
                                    ul.navbar-innerlist
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink Студенту   
                                li.navbar-item
                                    a.navbar-link(href="#") Выпускнику
                                    ul.navbar-innerlist
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту
                                            ul.navbar-inner2list
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                                li.navbar-inner2item
                                                    a.navbar-inner2link(href="#") Студенту
                                        li.navbar-inneritem
                                            a.navbar-innerlink(href="#") Студенту     
                         
            #slider.owl-carousel
                .slide
                    img(src="assets/images/1.jpg", alt="")
                .slide
                    img(src="assets/images/2.jpg", alt="")
                .slide
                    img(src="assets/images/1.jpg", alt="")
            
            .main-content
                .container.container-news
                    aside.sidebar-left
                        .sidebar-left__wrap
                            .drive.align
                                .drive-item.align-img
                                    a.drive-link(href="#")
                                        img(src="assets/images/adver/kikavto.png", alt="car")
                            .socials.align 
                                h2 Социальные партнеры
                                .socials-item.align-img
                                    a.socials-item__link(href="#")
                                        img(src="assets/images/adver/evraz_ntmk.png", alt="evraz")
                            .useful.align 
                                h2 Полезные ссылки
                                .useful-item.align-img
                                    a.useful-item__link(href="#")
                                        img(src="assets/images/adver/FSKN.png", alt="FSKN")
                                .useful-item.align-img
                                    a.useful-item__link(href="#")
                                        img(src="assets/images/adver/work_in_Russia.jpg", alt="work")
                                .useful-item
                                    a.useful-item__link(href="#")
                                        img(src="assets/images/adver/edu100x100.gif", alt="edu")
                                    a.useful-item__link(href="#")
                                        img(src="assets/images/adver/eo100x100.gif", alt="eo")
                                    a.useful-item__link(href="#")
                                        img(src="assets/images/adver/sc100x100.gif", alt="sc")
                                    a.useful-item__link(href="#")
                                        img(src="assets/images/adver/fcior100x100.gif", alt="fc")
                                    
                    section.news
                        .news-folder
                            .news-title__wrap
                                .news-title Новости
                            .news-wrap
                                ul.news-list
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/1.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/2.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text 
                                                .news-content__text-box                                             
                                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eum temporibus iste esse amet, blanditiis quae ducimus possimus. Cupiditate ullam veniam reiciendis a ipsa nam! Maxime mollitia adipisci voluptatem pariatur.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/3.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/4.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/3.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/4.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/3.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/4.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/3.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/4.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                    aside.sidebar-right                    
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                                                         
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                                 
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                                  
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                                   
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                                  
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                                
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                                  
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                               
                        .sidebar-right__anthem
                            .anthem-title Гимн колледжа:
                            p слова Н.Х. СИМОНОВОЙ. На земле есть другие страны,</br> Есть Сорбонна</br> и Оксфорд есть!</br> Есть другие прекрасные зданья,</br> И колледжей не перечесть!</br> Но дороже мне эта площадь,</br> Этот шпиль</br> над моей головой,</br> Я люблю тебя,</br> милый колледж!</br> Старый КИТ,</br> я всегда с тобой!</br></br> Я люблю твои ясные окна, Трель звонка,</br> интеллекта блеск!</br> Здесь судьбу я нашёл</br> и встретил -</br>Самых лучших друзей</br> навек!</br> Тем дороже мне эта</br> площадь,</br> Этот шпиль </br>над моей головой.</br> Я люблю тебя,</br> милый колледж!</br> Прежний КИТ, я всегда с тобой!</br></br> Вновь придёт </br>твоя хмурая осень,</br> Будет детство</br> взрослеть и мужать</br> Снова кто-то на парте</br> украдкой</br> Для истории будет писать,</br> Что дороже мне эта</br>площадь,</br> Этот шпиль </br>над моей головой!</br> Я люблю тебя,</br> милый колледж!</br> Старый КИТ,</br> я всегда с тобой!
            footer.footer
                .container.container-footer
                    .footer-row ГАПОУ СО "Краснотурьинский индустриальный колледж"
                    .footer-row Контакты
                    .footer-row otd.rav.kik@mail.ru
                    .footer-row Адрес: 624440 г. Краснотурьинск, Свердловская область, ул. Базстроевская, 1
                    .footer-row Дизайн сайта: Борн Андрей
                    .footer-row Структура: Никулин Никита
        