<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="assets/styles/css/owl.carousel.min.css")
        link(rel="stylesheet", href="assets/styles/css/owl.theme.default.css")
        link(rel="stylesheet", href='assets/styles/css/liCover.css')
        link(rel="stylesheet", href='assets/styles/app.min.css')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700" rel="stylesheet")              
        script(src='assets/scripts/jquery-1.11.1.min.js')
        script(src='assets/scripts/owl.carousel.min.js')
        script(src='assets/scripts/app.js')
        script(src='assets/scripts/jquery.liCover.js')        
        title kikinfo
    body
        wrapper
            header
                .container.container-header
                    .logo
                        .logo__img
                            a(href="#").logo-link
                                img(src="assets/images/content/KIK_logo.gif", alt="logo" height='123px' width='63px')
                        .logo__name Краснотурьинский индустриальный колледж 
                    .multitable
                        .multitable-upper
                            nav.menu1-nav
                                ul.menu1-list
                                    li.menu1-item
                                        a(href="#").menu1-link Поступающим
                                        ul.menu1-list__inner
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Правила приёма
                                                ul.menu1-list__inner2
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link Правила приёма 
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link Информация о приёме
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link Информация о стоимости
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link Реклама о приёме
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link 10 веских причин                                    
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Специальности СПО
                                                ul.menu1-list__inner2
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link Специальности приёма
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Дополнительное образование
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Приказ о зачислении
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Для людей с инвалидностью и ОВЗ
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Иногародним студентам
                                                ul.menu1-list__inner2
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link Общежитие
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link Правила проживания
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Подготовительные курсы
                                                ul.menu1-list__inner2
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link Расписание
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link Изменение в расписании
                                    li.menu1-item
                                        a(href="#").menu1-link Студенту
                                        ul.menu1-list__inner
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Расписание занятий
                                                ul.menu1-list__inner2
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link На --.--.--
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link Изменение в расписании                                              
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Экзамены
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Объявления
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Профориентация
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Наши стипендианты
                                                ul.menu1-list__inner2
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link Губернаторские
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link Фонда А.В.Сысоева
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Библиотека
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Положение о конференции
                                            li.menu1-item__inner
                                                a(href="#").menu1-link О наличии стипендии
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Юридическая помощь
                                                
                                    li.menu1-item
                                        a(href="#").menu1-link Выпускнику
                                        ul.menu1-list__inner
                                            li.menu1-item__inner
                                                a(href="#").menu1-link ЕГЭ
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Анкета выпускника
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Наша гордость
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Трудоустройство
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Фото выпускников
                                                ul.menu1-list__inner2
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link ЭМО
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link ЭКО
                                                    li.menu1-item__inner2
                                                        a(href="#").menu1-link СТО
                                            li.menu1-item__inner
                                                a(href="#").menu1-link Рейтинг выпускников                                                    
                            .multitable-search
                                form.search-form
                                    .form-row
                                        label.form-label 
                                            input(type="text").form-input
                                            img(src="assets/images/icons/search.png", alt="search" width='20px' height='20px')
                        .multitable-bottom
                            nav.menu2-nav
                                ul.menu2-list
                                    li.menu2-item
                                        a(href="#").menu2-link Колледж
                                        ul.menu2-list__inner
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Администрация
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Общаяя информация
                                                ul.menu2-list__inner2
                                                    li.menu2-item__inner2
                                                        a(href="#").menu2-link История КИК
                                                    li.menu2-item__inner2
                                                        a(href="#").menu2-link Реквизиты КИК
                                                    li.menu2-item__inner2
                                                        a(href="#").menu2-link Устав
                                                    li.menu2-item__inner2
                                                        a(href="#").menu2-link Локальные акты
                                                    li.menu2-item__inner2
                                                        a(href="#").menu2-link Лицензия и аккредитация
                                                    li.menu2-item__inner2
                                                        a(href="#").menu2-link Учредитель
                                                    li.menu2-item__inner2
                                                        a(href="#").menu2-link Режим и график работы
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Награды и достижения 
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Проекты
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Контакты
                                    li.menu2-item
                                        a(href="#").menu2-link Образование
                                        ul.menu2-list__inner                                       
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Структуры и органы управления обр. орг.
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Документы
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Образование
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Образовательные стандарты
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Руководство.Педагогический состав
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Материально-техническое обеспечение
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Стипендии
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Платные образовательные услуги
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Финансово-хозяйственная деятельность
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Вакантные места для приёма(перевода)
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Программа развития
                                    li.menu2-item
                                        a(href="#").menu2-link Отделения
                                        ul.menu2-list__inner                                       
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Очное
                                                ul.menu2-list__inner2
                                                    li.menu2-item__inner2
                                                        a(href="#").menu2-link ЭМО
                                                    li.menu2-item__inner2
                                                        a(href="#").menu2-link ЭКО
                                                    li.menu2-item__inner2
                                                        a(href="#").menu2-link СТО
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Заочное
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Предметно цикловые комиссии
                                    li.menu2-item
                                        a(href="#").menu2-link Уч.деятельность
                                        ul.menu2-list__inner                                       
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Сводный график
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Основные результаты
                                            li.menu2-item__inner
                                                a(href="#").menu2-link ИГА выпускников
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Состав пед.работников
                                            li.menu2-item__inner
                                                a(href="#").menu2-link ФГОС СПО 3+
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Контингент
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Рабочие учебные планы                                        
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Положения
                                        
                                    li.menu2-item
                                        a(href="#").menu2-link Культура
                                        ul.menu2-list__inner                                       
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Газета "КИК-times"
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Творчество студентов
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Спортивная жизнь
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Волонтеры
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Галерея
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Улыбнись
                                            li.menu2-item__inner
                                                a(href="#").menu2-link Кружки и секции
            
            #slider.owl-carousel
                .slide
                    img(src="assets/images/1.jpg", alt="")
                .slide
                    img(src="assets/images/2.jpg", alt="")
                .slide
                    img(src="assets/images/1.jpg", alt="")
            
            .main-content
                .container.container-news
                    aside.sidebar-left
                        .sidebar-left__wrap
                            .drive.align
                                .drive-item.align-img
                                    a.drive-link(href="#")
                                        img(src="assets/images/adver/kikavto.png", alt="car")
                            .socials.align 
                                h2 Социальные партнеры
                                .socials-item.align-img
                                    a.socials-item__link(href="#")
                                        img(src="assets/images/adver/evraz_ntmk.png", alt="evraz")
                            .useful.align 
                                h2 Полезные ссылки
                                .useful-item.align-img
                                    a.useful-item__link(href="#")
                                        img(src="assets/images/adver/FSKN.png", alt="FSKN")
                                .useful-item.align-img
                                    a.useful-item__link(href="#")
                                        img(src="assets/images/adver/work_in_Russia.jpg", alt="work")
                                .useful-item
                                    a.useful-item__link(href="#")
                                        img(src="assets/images/adver/edu100x100.gif", alt="edu")
                                    a.useful-item__link(href="#")
                                        img(src="assets/images/adver/eo100x100.gif", alt="eo")
                                    a.useful-item__link(href="#")
                                        img(src="assets/images/adver/sc100x100.gif", alt="sc")
                                    a.useful-item__link(href="#")
                                        img(src="assets/images/adver/fcior100x100.gif", alt="fc")
                                    
                    section.news
                        .news-folder
                            .news-title__wrap
                                .news-title Новости
                            .news-wrap
                                ul.news-list
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/1.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/2.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text 
                                                .news-content__text-box                                             
                                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eum temporibus iste esse amet, blanditiis quae ducimus possimus. Cupiditate ullam veniam reiciendis a ipsa nam! Maxime mollitia adipisci voluptatem pariatur.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/3.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/4.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/3.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/4.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/3.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/4.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/3.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                                    li.news-item                                       
                                        .news-pic
                                            img(src="assets/images/content/4.jpg", alt="news-pic").news-img
                                        .news-date
                                            time(datetime='2018-05-02') 02.05.2018
                                        .news-content 
                                            .news-content__title Олимпиада профессионального мастерства.
                                            .news-content__text
                                                .news-content__text-box
                                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis ex assumenda debitis esse minima doloremque veniam nisi amet praesentium, ipsa, quis facilis, quae fugit non dolores sint error hic.Est dolores soluta ad quasi earum quam, reprehenderit commodi hic eius saepe iure. Earum commodi quod deserunt porro beatae, voluptas nisi natus est ullam eius totam error? Ducimus, et quis?Distinctio veniam magnam suscipit? Possimus quos sed omnis quia dolorem aperiam. Alias sit autem sed illo tempora architecto accusantium rem nihil labore culpa! Id enim hic voluptatibus, odio est iure?
                                        .news-more
                                            a(href="#").news-more__link Подробнее
                    aside.sidebar-right                    
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                                                         
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                                 
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                                  
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                                   
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                                  
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                                
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                                  
                        .sidebar-right__advert
                            a(href="#").sidebar-right__link
                                p Акт готовности образовательной организации к 2015-2016 уч. году                               
                        .sidebar-right__anthem
                            .anthem-title Гимн колледжа:
                            p слова Н.Х. СИМОНОВОЙ. На земле есть другие страны,</br> Есть Сорбонна</br> и Оксфорд есть!</br> Есть другие прекрасные зданья,</br> И колледжей не перечесть!</br> Но дороже мне эта площадь,</br> Этот шпиль</br> над моей головой,</br> Я люблю тебя,</br> милый колледж!</br> Старый КИТ,</br> я всегда с тобой!</br></br> Я люблю твои ясные окна, Трель звонка,</br> интеллекта блеск!</br> Здесь судьбу я нашёл</br> и встретил -</br>Самых лучших друзей</br> навек!</br> Тем дороже мне эта</br> площадь,</br> Этот шпиль </br>над моей головой.</br> Я люблю тебя,</br> милый колледж!</br> Прежний КИТ, я всегда с тобой!</br></br> Вновь придёт </br>твоя хмурая осень,</br> Будет детство</br> взрослеть и мужать</br> Снова кто-то на парте</br> украдкой</br> Для истории будет писать,</br> Что дороже мне эта</br>площадь,</br> Этот шпиль </br>над моей головой!</br> Я люблю тебя,</br> милый колледж!</br> Старый КИТ,</br> я всегда с тобой!
            footer.footer
                .container.container-footer
                    .footer-row ГАПОУ СО "Краснотурьинский индустриальный колледж"
                    .footer-row Контакты
                    .footer-row otd.rav.kik@mail.ru
                    .footer-row Адрес: 624440 г. Краснотурьинск, Свердловская область, ул. Базстроевская, 1
                    .footer-row Дизайн сайта: Борн Андрей
                    .footer-row Структура: Никулин Никита
        